.codeContainer {
    display:block;
}

.singleProjectCard{
    padding-top:auto;
    padding-bottom:auto;
}

.projectImage{
    display:block;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
}


.separator {
    border-top: 1px solid #ddd;
    width: 80%;
}

.projectIcons {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.gitIcons {
    text-align:right;
    font-family: "Roboto Slab", serif;
}

.singleProjectContainer{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}


.projectImage {
    height: 70vw;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
}

.firstCommitDate{
    text-align:right;
}

.qwerqwer{
    margin-bottom:70px;
}

@media (max-width: 500px) {
    .singleProjectCard{
        display:grid;
        grid-template-rows: 65vw 1fr;
        margin-bottom:60px;
    }

    .projectImage {
        height: 60vw;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
    }
    .projectIcons {
        display:grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .projectText{
        margin-top:10px;
    }
    
}

@media (min-width: 500px) {
    .singleProjectCard{
        display:grid;
        grid-template-columns: 35vw 1fr;
        margin-bottom:60px;
    }

    .projectImage {
        height: 30vw;
        max-height:260px;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
    }
    .projectIcons {
        display:grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .projectText{
        margin-top:10px;
    }
    
}
@media (min-width: 800px) {
    .singleProjectCard{
        display:grid;
        grid-template-columns: 250px 1fr;
        margin-bottom:50px;
    }

    .projectImage {
        height: 200px;
        max-height:260px;
        box-shadow: 1px 1px 1px 1px gray;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
    }
    .projectIcons {
        display:grid;
        grid-template-columns: 1fr 1.5fr;
    }
    .projectText{
        margin-top:0px;
    }
    
}

@media (min-width: 1166px) {
    .singleProjectCard{
        display:grid;
        grid-template-columns: 250px 1fr;
        margin-bottom:60px;
        width:80%;
        margin-left:auto;
        margin-right:auto;
    }
    .projectImage{
        height:200px;
        margin-top:auto;
        margin-bottom:auto;
    }
    .projectText{
        margin-top:10px;
    }
}
@media (min-width: 2300px) {
    .projects{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}