.websiteImage {
    width: 80%;
    display:block;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 10px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 50px;
    min-width:350px;
    max-width:1200px;
}

.websitesContainer{
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.singleProjectContainer{
    margin-bottom:150px;
}

.siteUrl{
    text-align:left;
}